html, body, form, .body-content {
    height: 100%;
}
body {
    font-size: 16px;
}
h3{
    margin: 0;
}
.player-card-wrapper{
    max-height: 650px;
    overflow: scroll;
}
.player-name {
    color: cadetblue;
    font-weight: 700;
    -webkit-text-stroke-width: 0.5px;
    -webkit-text-stroke-color: black;
    margin-bottom: 10px;
}
.param-name{
    font-size: 20px;
}
.param-value {
    border: 1px solid black;
    border-radius: 5px;
    background-color: beige;
    padding: 5px;
    margin-bottom: 10px;
    min-height: 35px;
}
.revealed{
    background-color: darkorange;
}
.body-content{
    width: 100%;
    display: flex;
    flex-direction: column;
}
.content-wrapper {
    margin: auto 0;
}
.player-slider{
    display: flex;
}
.player-card-inner{
    background-color: sandybrown;
    border: 1px solid black;
    border-radius: 15px;
    width: calc(100% - 50px);
    margin: 0 auto;
    padding: 20px;
    margin-bottom: 30px;
}
.use-card {
    border: 1px solid black;
    border-radius: 15px;
    width: calc(100% - 50px);
    margin: 0 auto;
    padding: 20px;
}
.card-name{
    font-weight: 700;
    font-size: 22px;
}
.action-card {
    background-color: cornflowerblue;
    margin-bottom: 30px;
}
.condition-card{
    background-color: coral;
}
.slick-next, .slick-prev{
    height: 40px;
    min-width: 40px;
    background-color: sandybrown;
    border: 1px solid brown;
    border-radius: 20px;
    position: relative;
    margin: auto;
}
.slick-prev:before {
    content: " ";
    background-image: url("../img/arrow.png");
    background-size: 25px 25px;
    width: 25px;
    height: 25px;
    display: inline-block;
    position: absolute;
    top: calc(25px - 50%);
    left: calc(25px - 50%);
    transform: rotate(180deg);
}

.slick-next:before {
    content: " ";
    background-image: url("../img/arrow.png");
    background-size: 25px 25px;
    width: 25px;
    height: 25px;
    display: inline-block;
    position: absolute;
    top: calc(25px - 50%);
    left: calc(25px - 50%);
}
@media(max-width: 545px){
    body {
        background-image: url('../img/leon-seibert-Qw69Z9CO1mo-unsplash.jpg');
        background-size: cover;
        background-repeat: no-repeat;
        background-position: center center;
    }
}



.menu {
    
    display: flex;
    width: 250px;
    height: 500px;
    border-radius: 5px;
    transition: 2s;
}

#menu {
    /*     display: none; */
    z-index: 1;
    left: -250px;
    position: absolute;
    background-color: darkgray;

}

.slide-in-left {
}
.slick-track{
    min-width: 2000px;
}
